github_url: https://github.com/UCSB-CMPTGCS-1A-F17/UCSB-CMPTGCS-1A-F17.github.io

site_url: https://ucsb-cmptgcs-1a-f17.github.io
piazza: https://piazza.com/class/j80jwicfx2r4n4
course_github_org: https://github.com/UCSB-CMPTGCS-1A-F17
gauchospace_course_url: https://gauchospace.ucsb.edu/courses/course/view.php?id=19136

on_campus: http://proquest.safaribooksonline.com
off_campus: http://proquest.safaribooksonline.com.proxy.library.ucsb.edu:2048

start_week: 0
start_date: 2017-09-24 00:00:00.00-7:00
num_weeks: 11
extra_exam_week: true

cal_dates: >
  [
  {"label":"First day of classes", "date":"2017-09-28" },
  {"label":"Univ Holiday", "date":"2017-11-10" },
  {"label":"Clocks back 1 hour", "date":"2017-11-05" },	
  {"label":"Univ Holiday", "date":"2017-11-23" },
  {"label":"Univ Holiday", "date":"2017-11-24" },
  {"label":"Last day of classes", "date":"2017-12-08" },			
  ]


course: "CMPTGCS 1A"
legacy_wiki_name: cs1a
legacy_wiki_url: "https://foo.cs.ucsb.edu/cs1a" 
qtr: "F17"
quarter: "Fall 2017"

kramdown:
   parse_block_html: true


exclude:
   - vendor

timezone: America/Los_Angeles

collections:
  hwk:
    output: true
    permalink: /hwk/:path/
    last_before: false
  lab:
    output: true
    permalink: /lab/:path/
    last_before: false
  cs16:
    output: true
    permalink: /cs16/:path/
    last_before: false
  cs24:
    output: true
    permalink: /cs24/:path/
    last_before: false
  cs32:
    output: true
    permalink: /cs32/:path/
    last_before: false
  cs56:
    output: true
    permalink: /cs56/:path/
    last_before: false
  exam:
    output: true
    permalink: /exam/:path/
  info:
    output: true
    permalink: /info/:path/
  lectures:
    output: true
    permalink: /lectures/:path/
    ready: false
  f16lectures:
    output: true
    permalink: /f16lectures/:path/    


defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: default
  - 
    scope:
      path: ""
      type: hwk
    values:
      layout: hwk
  - 
    scope:
      path: ""
      type: lab
    values:
      layout: lab
  - 
    scope:
      path: ""
      type: exam
    values:
      layout: exam_info
  - 
    scope:
      path: ""
      type: info
    values:
      layout: info
  -
    scope:
      path: "syllabus.md"
      type: info
    values:
      layout: handout
  -
    scope:
      path: ""
      type: lectures
    values:
      layout: default
  -
    scope:
      path: ""
      type: f16lectures
    values:
      layout: default



